/*-----------  HEADING  -----------*/

header{
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width:100%;
	background-color: rgba(255,255, 255, 0.9);
	position: fixed;
	z-index: 999;

}

::selection {
  background: rgba(250, 99, 81,0.3); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: rgba(250, 99, 81, 0.3); /* Gecko Browsers */
}

.hello ul li a{
	outline: none;
}

#index{
	position: fixed;
}

#logo {
	text-align: center;
	margin: 0;
}

h1{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin: 30px 0;
	margin-top: 35px;
	font-size: 13px;
	font-weight: 700;
	line-height: 13px;
	letter-spacing: 8px;
	color: black;
	margin-left: 14%;	
}

h2{
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 1%;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #4f4f4f;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 1.5%;
	text-align: center;
	margin-top: 5%;
	line-height: 40px;
}

nav{
	text-align: center;
	padding: 10px 0;
	margin-top: 26px;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
	margin-right: 12%;
}

nav li{
	display: inline-block;
}

nav a{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 15px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	color: #424346;
}

nav a.selected{
	color: black;
	font-weight: bold;
}


nav a:hover{
	color: #a8a9a8;
	transition: all 0.5s ease;
}

.navbar-default{
	background-image: none;
	float: left;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	width:100%;
	background-color: rgba(255,255, 255, 0.9);
	border: none;
	color: black;
	z-index: 100000;
}

.navbar-static-top{
	z-index: 1000000;
}

.navbar-brand{
	font-weight: 700;
	letter-spacing: 8px;
	color: black;
}

.navbar-brand {
	padding-bottom: 0;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-brand, .navbar-nav>li>a{
	text-shadow: none;
	outline:none;
}

.navbar-brand:hover {
	color: black !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color:rgba(34,34,34,0.6);
}

.navbar-stay{
	position: fixed;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}


.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fa6351;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

footer{
	text-align: center;
	clear:both;
	color: black;
	padding-bottom: 2%;
	margin-top: 5%;
}

footer p{
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.footerbackground{
	background-color: rgba(180,180,180,0.2);
}

a {
	text-decoration: none;
	outline: 0 !important; 
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module.content {
  padding: 40px 0;
}

section#intro img{
	margin-left: 22%;
	margin-top: 2%;
	margin-bottom: 2%;
}

p{
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
	padding: 5%;
	margin-top: 0;
	color: #646464;
	line-height: 220%;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: 400;
}


h3{
	padding: 5% ;
	margin: 10% ;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 1%;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: #4f4f4f;
	margin-left: 20%;
	margin-right: 10%;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 1.5%;
}

h4{
	padding: 5% ;
	margin: 10% ;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 1%;
	margin-top: 2%;
	padding-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-left: 20%;
	margin-right: 10%;
	color: #222222;
	padding-left: 0;
	max-width: 55%;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	letter-spacing: 2px;
	transform: scale(1, .95);
}

h5{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 46px;
	font-weight: 600;
	color:#222222;
	font-weight: 700;
}

h6{
	padding: 5% ;
	margin: 10% ;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 1%;
	margin-top: 1%;
	padding-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-left: 20%;
	margin-right: 10%;
	color:grey;
	font-size: 20px;
	color: #a9a8aa;
}

.list {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 5%;
	margin-top: 0;
	color: #818081;
	line-height: 200%;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	max-width: 55%;
	margin-left: 20%;
	margin-right: 5%;
	margin-bottom: 0;
	padding-bottom: 0;

}

.intro{
	width: 100%;
}


.intro h3{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 10%;
	padding-bottom: 0;
	margin-bottom: 1%;
	padding-top: 0;
	font-size: 23px;
	color: #222222;
}

.intro p{
	max-width: 55%;
	margin-left: 20%;
	margin-right: 5%;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 35px;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	color: rgba(34,34,34,0.8);
}

#first p{
	max-width: 55%;
	margin-left: 20%;
	margin-right: 5%;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 35px;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	color: rgba(34,34,34,0.8);
	font-size: 20px;
}

.intro strong{
	color: #4f4f4f;
}

.intro iframe{
	margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;	
}

strong{
	color: #fa6351;
}

u{
	color: #fa6351;
	height: 4px;
}

.intro hr{
	width: 6px;
	max-width: 55%;
	margin-left: 25%;
	color: #4f4f4f;    
	border: 1.5px solid #4f4f4f;
	margin-bottom: 1.5%;
}

.intro2{
	background-color: rgba(180,180,180,0.1);
	padding-top: 5%;
	padding-bottom: 10%;
	margin-top: 5%;
}

.intro2 h3{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 29px;
}

.intro2 hr{
	margin: 0 auto;
	width: 120px;
	padding-left: 3%;
	color: #4f4f4f;    
	margin-bottom: 1.5%;
	margin-top: 5%;
    border: 0 none;
    background-color: rgba(120,120,120,0.4);
    height: 1px;
}

.intro2 p{
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size: 21px;
}

.intro3{
	background-color: rgba(180,180,180,0.1);
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
}

.intro3 h3{
	text-align: left;
	margin: 0;
	padding: 0;
	margin-top: 5%;
	margin-bottom: 2%;
	font-size: 32px;
}

.intro3 p{
	margin: 0 auto;
	font-size: 33px;
	line-height: 55px;
	color: #282828;
	max-width: 85%;
	text-align: center;
	font-family: 'PT Serif', serif;
	font-weight: 700;
}

.intro3 h4{
	text-align: center;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}

.intro4{
	background-color: rgba(180,180,180,0.1);
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
	width: 100%;
}

.carouselbackground{
	background-color: rgba(180,180,180,0.08);
	padding-top: 5%;
	padding-bottom: 5%;
	margin-top: 5%;
	width: 100%;
}

.ellipses p{
	text-align: center;
	font-weight: 300;
}

.intro1 {
  	max-width: 960px;
  	margin: 0 auto;
}

/*.intro3{
	 max-width: 960px;
 	 margin: 0 auto;
}*/

.gallery3{
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery3 li{
	list-style: none;
	max-width: 100%;
	margin: 0 auto;
	color:#bdc3c7;
	text-align: center;
}

.gallery4 li a p {
	margin-bottom: 40%;
	padding: 5%;
	font-size: 12px;
	color: #bdc3c7;
}

.gallery4{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(180,180,180,0.2);
}

.gallery4 li{
	width: 45%;
	margin:1%;
	color:#bdc3c7;
}

.gallery4 li a p {
	margin-bottom: 40%;
	padding: 5%;
	font-size: 12px;
	color: #bdc3c7;
}

.gallery2{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #e6e7e5;
}

.crop {
    width: 1300px;
    height: 200px;
    overflow: hidden;
}

.crop img {
    width: 80%;
    margin: -75px 0 0 -100px;
}

h3 a.selected{
	color: #4f4f4f;
}

.hello ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	list-style: none;
	padding-top: 0;
	margin-top: 0;
}

.hello p {
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	list-style: none;
}

.hello img {
	padding-top: 0;
	margin-top: 3%;
	max-width: 95%;
}

.video{
	text-align: center;
}


.audio{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

.row{
	width: 900px;
	margin: 0 auto;

}


[class^="column-"]{
	padding: 20px;
	display: inline-block;
}

.row{
	max-width: 100%;

}

.column-2{
	width: 50%;
	vertical-align: middle;
	margin-top: 5%;
}

.column-2 img{
	max-width: 80%;
	text-align: center;
}

.column-2 video{
	max-width: 100%;
}

.column-2 h3{
	margin-left: 0;
	padding-left: 0;
}

.column-2 p{
	margin-left: 0;
	padding-left: 0;
}

.column-2 h6{
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 8%;
	line-height: 30px;
	font-size: 16px;
}

.pager li>a:focus, .pager li>a:hover {
	background-color: transparent;
}

.next{
	float: right;
}

.next a{
	text-decoration: none;
	color: black;
}

.next a:hover{
	color: #fa6351;
	background-color: white;
	transition: all 0.5s ease;
}

.pager a:hover {
	text-decoration: none;
	background-color: white;
}

.previous{
	float: left;
}

.previous a:hover{
	color: #fa6351;
	transition: all 0.5s ease;
}

.previous a{
	text-decoration: none;
	color: black;
}

* {
     -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box;
     box-sizing: content-box; 
}

.carousel-indicators .active {
	width: 9px;
	height: 9px;
}

.carousel-indicators li {
	width: 7px;
	height: 7px;
}

.video-wrapper {
    position: relative;
    max-width: 80%;
	margin: 0 auto;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.75;
    cursor: pointer;
    background-color: #0a003b;
    transition: opacity 500ms;
}

.video-overlay-play-button:hover {
    opacity: .9;
}

.video-overlay-play-button.is-hidden {
    display: none;
}


html, body {
  height: 100%;
  margin: 0;
}


.parallax {
	background-size: cover;
	box-sizing: border-box;
	width: 100%;
}

.header {
  	height: 500px;
}

.parallax.header {
  	margin-bottom: -500px;
    background-position: 50% 40%;
    margin-top: 0;
    padding-top: 0;
}

.viewport {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  z-index: -1;
}

.solid {
  z-index: 1;
  position: relative;
  height: 70vh;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.solid.star {
	background-color: white;
	z-index: 10000;
	height: 100%;
}

.solid.woods {
    background-color: hsl(195, 16%, 49%);
    box-shadow: -10px -10px 20px hsl(195, 16%, 49%);
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #000
}

.fullsize{
	max-width: 100%;
}

.dark{
	background-color: black;
	padding-top: 5%;
}

.bigger{
	max-width: 100%;
}

.hideme{
	opacity: 0;
}

.center{
	text-align: center;
}

.small{
	font-size: 13px;
	font-weight: 400;
	color: gray;
	line-height: 20px;
	margin-top: 0;
	letter-spacing: 0;
}

#rig {
    max-width:100%;
    margin:0 auto; 
    padding:0;
    font-size:0; 
    list-style:none;
    background-color:white;
}
#rig li {
    display: inline-block;
    *display:inline;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}
        
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: rgba(0,0,79,0.7) url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);
    transition:all 0.6s;
}

#rig li:hover .rig-overlay {
    opacity:0.8;
}

.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:20px;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);
    transform:translateY(-20px);
    transition:all .3s;
}

#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:50%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:100%;
    }
}
