@media screen and (min-width: 300px) {
h1{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin: 30px 0;
	margin-top: 35px;
	font-weight: 700;
	letter-spacing: 8px;
	color: #000;
	margin-left: 3%;
	margin-bottom: 0;
	padding-bottom: 0;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
	margin-right: 1%;
	margin-top: 0;
}

.vr video{
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;
}

.navbar-brand{
	font-size: 16px;
	letter-spacing: 4px;
	color: #000;
}

.navbar-default .navbar-nav>li>a{
	color: #222222;
}


.pager{
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	list-style: none;
	padding-bottom: 1%;
	background-color: none;
	font-weight: 600;
	margin: 0 auto;
    max-width: 85%;
    padding-top: 5%;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.hello ul{
	text-align: center;
	padding: 0;
}

.hello ul{
	margin-top: 0;
}

.intro p a{
	text-decoration: none;
	color: rgba(100,100,100,0.5);
	font-style: italic;
	outline: none;
}

.intro img{
	max-width: 85%;
	margin-top: 0;
	margin-bottom: 5%;
}

.intro p a:hover{
	text-decoration: none;
	color: #fa6351;
	transition: all 0.5s ease;
	font-style: italic;
}

.gallery li{
	width: 75%;
}

.gallery li a{
	    border-bottom: none;
}

.gallery4{
	margin-top: 5%;
}

.gallery4 li  img{
	max-width: 175%;
	margin-left: 20%;
	margin-top: 5%;
}

.description{
	margin: 0 auto;
	max-width: 85%;
	margin-bottom: 3%;
	padding-left: 0;
	padding-right: 0;
	font-size: 15px;
	font-family: "PT Serif", serif;
	color: #222222;
	font-weight: 700;
	font-style: italic;
}

.fa-pencil-square-o, .fa-user-circle-o, .fa-users, .fa-calendar, .fa-sticky-note{
	padding-right: 2%;
}

.fa-check-circle, .fa-exclamation-circle{
	padding-right: 1%;
}

.fa-facebook, .fa-instagram, .fa-github {
    color: black;
    padding-right: 2%;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-github:hover{
    color: #fa6351;
}

.profile-photo{
	max-width: 100%;
    border-radius: 50%;
    }

.exhibition img{
	padding-top: 0;
	margin-top: 15%;
	padding-left: 5%;
	max-width: 85%;
}

#about {
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
}

#about img{
	max-width: 70%;
	margin-top: 10%;
}

.intro p{
	margin: 0 auto;
	max-width: 85%;
	margin-bottom: 10%;
	padding-left: 0;
	padding-right: 0;
}

.intro h3, .intro h4, .intro h5, .intro h6{
	margin: 0 auto;
	max-width: 85%;
	margin-bottom: 5%;
	padding-left: 0;
	padding-right: 0;
	margin-top: 5%;
}

.intro h3{
	margin-top: 15%;
}

.intro h4{
	margin-top: 0;
}

.intro2 p{
	padding: 0;
	margin: 0 auto;
	max-width: 85%;
	margin-top: 5%;
}

.column-2{
	padding-left: 0;
	width: 100%;
	vertical-align: middle;
	margin-top: 5%;
}

.column-2 h3, .column-2 h6, .column-2 p{
	padding-left: 20px;
}

.intro hr{
	width: 30px;
	margin-left: 8%;
	color: #4f4f4f;    
	border: 1.5px solid #4f4f4f;
	margin-bottom: 5%;
}

.gallery li a img{
	max-width: 100%;
	margin-left: 8%;
	margin-right: 10%;
	border:.1px solid #dedede;

}

.gallery3 li  img{
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 5%;
	
}

.gallery4{
	margin-top: 5%;
}

.gallery4 li  img{
	max-width: 175%;
	margin-left: 20%;
	margin-top: 5%;
}

footer p{
	color: black;
}

.carousel{
    background-color: transparent;
    margin-top: 20px;
    max-width: 100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel .item img{
    margin: 0 auto; 
}

.bs-example{
  margin: 20px;
}

.glyphicon {
    font-size: 30px;
}

#myCarousel, #myCarousel-2{
	margin: 0 auto;
}

a:hover, a:focus { text-decoration: none;}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

.carousel:hover .carousel-control {
 	opacity: 0.4;
}

}

@media screen and (min-width: 480px) {

h1{
	margin-left: 1%;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
	margin-right: 2%;
}

nav{
	padding-top: 0;
	margin-bottom: 1%;
}

.navbar-brand{
	font-size: 18px;
	letter-spacing: 6px;
	color: black;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-left: 5%;
	margin-right: 5%;
}

.carousel{
	width: 80%;
	background-color: transparent;
}
.carousel-inner > .item {
  height: 320px;
}
.carousel-inner img {
  margin: auto;
}
.carousel-inner .item img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#about{
	margin: 0 auto;
	text-align: center;
}

#about img{
	max-width: 60%;
}

.hello ul{
	margin-top: 0;
}

.exhibition img{
	margin-top: 10%;
	padding-left: 5%;
	max-width: 85%;
}

.column-2{
	padding-left: 0;
	width: 100%;
	vertical-align: middle;
	margin-top: 5%;
}

.column-2 p{
	margin: 0 auto;
	max-width: 75%;
	padding-left: 0;
	padding-right: 0;
}

.column-2 h3{
	margin: 0 auto;
	max-width: 75%;
	padding-left: 0;
	margin-bottom: 0;
	padding-top: 0;
}

.column-2 h6{
	margin: 0 auto;
	max-width: 75%;
	padding-left: 0;
	margin-bottom: 3%;
	margin-top: 0;
}

.column-2 img{
	max-width: 60%;
}

.description{
	margin: 0 auto;
	max-width: 80%;
}

.pager{
	margin: 0 auto;
    max-width: 80%;
}

.intro p{
	max-width: 75%;
	margin: 0 auto;
/*	margin-bottom: 0;
	padding-bottom: 0;*/
	margin-bottom: 5%;
}

.intro h3, .intro h4, .intro h5, .intro h6 {
	margin: 0 auto;
	margin-top: 5%;
	max-width: 75%;
	padding-bottom: 0;
	margin-bottom: 1%;
}

.intro img{
	max-width: 75%;
	margin-top: 0;
	margin-bottom: 0;
}

.intro h6{
	margin-top: 2%;
}

.intro h3{
	margin-top: 10%;
}

.intro h4{
	margin-top: 2%;
}

.intro hr{
	width: 6x;
	margin-left: 12.5%;
	color: #4f4f4f;    
	border: 1.5px solid #4f4f4f;
	margin-bottom: 1.5%;
}

.intro2 hr{
	margin-top: 0;
}

.gallery{
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery li{
	float: left;
	width: 45%;
	margin:1%;
	color:#bdc3c7;
	padding-bottom: 10%;
	margin-top: 2%;
	list-style: none;
}

.gallery li a img{
	max-width: 100%;
	margin-left: 15%;
	margin-right: 10%;
	border:.1px solid #dedede;

}

.gallery3 li  img{
	max-width: 80%;
	
}
.gallery4 li a img{
max-width: 175%;
	margin-left: 20%;
	margin-right: 10%;
}

.gallery li{
	width: 28.3333%;
}

.gallery li:nth-child(4n){
	clear:left;
}

#about p{
font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 5%;
	margin-top: 0;
	color: #a9a8a9;
	line-height: 240%;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	max-width: 55%;
	margin-left: 20%;
	margin-right: 5%;
	margin-bottom: 0;
	padding-bottom: 0;
}

}

@media screen and (min-width:960px) {

h1{
	letter-spacing: 5px;
	margin-left: 14%;
}

.fa-sticky-note, .fa-github, .fa-facebook, .fa-instagram, .fa-check-circle, .fa-exclamation-circle, .fa-pencil-square-o, .fa-user-circle-o, .fa-users, .fa-calendar{
	padding-right: 0;
}


.navbar-brand{
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 7px;
	color: black;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-left: 5%;
	margin-right: 5%;
}

.pager{
	margin: 0 auto;
    max-width: 80%;
    margin-top: 0%;
    padding-top: 5%;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 10px 24px;
    background-color: transparent;
    border: 1px solid #b4b4b4;
    border-radius: 20px;
}

.vr video{
	margin-top: 0;
	width: 80%;
}

.hello ul{
	margin-top: 0;
}


.intro h3, .intro h4, .intro h5, .intro h6{
	padding-bottom: 0;
	max-width: 55%;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	margin-bottom: 1%;
	margin-top: 5%;
}

.intro h4, .intro h6 {
	margin-top: 0;
}

.intro img{
	max-width: 55%;
}

.intro p{
	max-width: 55%;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	padding-bottom: 5%;
}

.intro2 p{
	max-width: 85%;
 	margin: 0 auto;
}

.description{
	max-width: 80%;
	margin-bottom: 0;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0;
	margin: 0 auto;
	font-size: 18px;
	font-family: "PT Serif", serif;
	font-weight: 700;
}



.fa {
	font-size: 100px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    outline: 0;
}

.column-2{
	max-width: 50%;
	vertical-align: middle;
	margin-top: 5%;
	padding-left: 10px;
	padding-right: 10px;
}

.column-2 p, .column-2 h3, .column-2 h6{
	max-width: 100%;
}

.column-2 p{
	margin-top: 5%;
}

.column-2 video{
	margin-left: 20px;
}

.column-2 img{
	max-width: 80%;
}

.page-divider{
	width: 70%;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin:0;
    margin-top: 5%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

.intro hr{
	width: 40px;
	margin-left: 22.5%;
	color: #4f4f4f;    
	border: 1.5px solid #4f4f4f;
	margin-bottom: 1.5%;
}

.drop-shadow{
	box-shadow: 0 10px 40px #787878;
}

.gallery3 li  img{
	max-width: 80%;
	margin-bottom: 5%;
}

#about img{
	max-width: 30%;
}

.exhibition img{
	margin-top: 0%;
	padding-left: 5%;
	max-width: 85%;
}

#logo{
	float: left;
	margin-left: 5%;
	text-align: left;
	width: 45%;
}

#first p a{
	text-decoration: none;
	color:  #fa6351;
}

#first p a:hover{
	text-decoration: none;
	color: #646464;
	transition: all 0.5s ease;
}

header{
	margin-bottom: 60px;
}

.intro div div div  p{
	max-width: 100%;
	margin-right: 0;
	margin-top: 5%;
}

.intro div div div  img{
	max-width: 100%;
	margin-left: 0;
}

.carousel{
	width: 80%;
	background-color: transparent;
}

.carousel-inner > .item {
  height: 455px;
}

.carousel-inner img {
  margin: auto;
}

.carousel-inner .item img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.glyphicon {
    font-size: 100px;
}

#myCarousel, #myCarousel-2{
	margin: 0 auto;
}

a:hover, a:focus { text-decoration: none;}

.carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.modal {
    overflow-y: auto;
}

}


@media screen and (min-width:900px) {
.column-2{
	width: 45%;
	vertical-align: middle;
	margin-top: 5%;
	padding-left: 20px;
}

.column-2 video{
	margin-left: 0px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
	margin-left: 0;
	margin-right: 0;
}

}


